.studients__container {
    display: flex;
    flex-direction: column;
   width: 100%;
}

.text__space__between {
    display: flex;
    justify-content: space-between;
}
.main__container {
    display: grid;
    justify-content: center;
    justify-items: center;
    /*grid-template-columns: 1200px;*/
}

.body__style 
{
    background-color: aqua;
}
.slider{
    max-width: 50%;
    margin: 0 auto;
}

.link__content {
    border: 3px solid #7CFC00; 
    padding: 5px 80px;
    background-color: #32CD32;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 2s;
    border-radius: 5%;
}

.link__content:hover {
    border: 3px solid #32CD32;
    background-color: #7CFC00; 
    color:darkgreen;
}

.slider_item {
    margin: 0 auto;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img {
    margin: 3% auto;
    max-width: 100%;
}

.otchet {
    margin: 0 20%;
}

.content__container {
    width: 100%;
    display: flex;
    justify-content: start;
}

.li_none{
    list-style-type: none;
    font-size: 18px;
    margin: 20px;
}
.text__center__container {
    text-align: center;
}